<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <!--<ul class="list vertical ml-auto">
                    <li>
                        <a href="{{ site.baseurl }}/about">About</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/support">Support</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/privacy">Privacy</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/terms">Legal</a>
                    </li>
                </ul>-->
                <ul class="list vertical mr-auto">
                    <li>
                        <a href="https://facebook.com/beebackapp"><i class="fa fa-facebook"></i> &nbsp; Like</a>
                    </li>
                    <li>
                        <a href="https://instagram.com/beebackapp"><i class="fa fa-instagram"></i> &nbsp; Snap</a>
                    </li>
                    <li>
                        <a href="https://twiiter.com/beebackapp"><i class="fa fa-twitter"></i> &nbsp; Follow</a>
                    </li>
                </ul>


                &copy; InstaGallery. Crafted by <a href="https://beeback.io">BeeBack</a>.
            </div>
        </div>
    </div>
</footer>
